<div class="container">
  <h2 class="text-center">Here Is Your User Information</h2>
  
  <div ng-if="!myInfoCtrl.isMember">Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></div>
  <div ng-if="myInfoCtrl.isMember">

  <table>
  <tr>
    <th>Info</th>
    <th>User Details:</th> 
  </tr>
  <tr>
    <td>First Name:</td>

    <td>{{myInfoCtrl.info.firstName}}</td> 
  </tr>
  <tr>
    <td>Last Name:</td>
    <td>{{myInfoCtrl.info.lastName}}</td> 
  </tr>
  <tr>
    <td>Email Add:</td>
    <td>{{myInfoCtrl.info.email}}</td> 
  </tr>
  <tr>
    <td>Phone:</td>
    <td>{{myInfoCtrl.info.phone}}</td> 
  </tr>
</table>

<div>
    <h2 class="text-center">Here Is Your Favorite Meal</h2>
  <menu-item class="text-center"
             menu-item="myInfoCtrl.menuItem">
  </menu-item>
</div>

</div>


